<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>success</title>
    </h:head>
    <h:body>
        Error. Email address is already in use <br/> 
        Use the link to go back to the <h:link value="register" outcome="registerNewAccount.xhtml"/>  page.
    </h:body>
</html>

