<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Registration Page</title>
    </h:head>
    <h:body>
        <div>
            <h2>Fill in all fields, and then hit 'save' button</h2>
            <f:view>
                <h:form>

                    <h:panelGrid columns="3">

                        First Name
                        <h:inputText id="nameFirst" label="First Name" required="true"
                                     value="#{registerController.firstName}" />
                        <h:message for="nameFirst" style="color: red"/>

                        Last Name
                        <h:inputText id="nameLast" label="Last Name" required="true"
                                     value="#{registerController.lastName}"/>
                        <h:message for="nameLast" style="color: red"/>

                        Email Account
                        <h:inputText id="email" label="Email" required="true"
                                     value="#{registerController.email}"/>
                        <h:message for="email" style="color: red"/>

                        Password
                        <h:inputText id="password" label="Password" 
                                     value="#{registerController.password}">
                            <f:validateRegex pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,20})"/>
                        </h:inputText> 
                        <h:message for="password" style="color:red" />

                        16 Digit Card Number
                        <h:inputText id="cardNumber" label="cardNumber"  maxlength="16"
                                     value="#{registerController.sixteenDigitCardNumber}"
                                     converterMessage="Please enter digits only."
                                     validatorMessage="Please enter 16 digits.">
                            <f:validateLength minimum="16" maximum="16" />
                        </h:inputText>
                        <h:message for="cardNumber" style="color: red"/>

                        Expiration Date
                        <h:inputText id="expirationDate" label="expirationDate" maxlength="4"
                                     value="#{registerController.expirationDate}">
                            <!--TODO: add a correct validator for the month-->
                            <f:validateRegex pattern = "^([0-1][0-9][0-9][0-9])?$"/>
                        </h:inputText>

                        <h:message for="expirationDate" style="color: red"/>

                        <h:commandButton value="Save"
                                         action="#{registerController.createAccount()}"/>


                    </h:panelGrid>
                </h:form>
            </f:view>
            <div style="position: absolute">
                <p style="position: fixed; bottom: 0; width:100%; text-align: left">
                    <h:link value=" home " outcome="/index.xhtml"/>
                </p>
            </div>
        </div>
    </h:body>
</html>

