<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>success</title>
    </h:head>
    <h:body>
        new account registered successfully. <br/> 
        Use the link to go back <h:link value="home" outcome="/index.xhtml"/>
    </h:body>
</html>

