<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>testing booking page</title>
    </h:head>
    <h:body>
        <div>
            <h2>booking page</h2>
            <f:view>
                <h:form>
                    <h:panelGrid columns="1">
                        IATA Code
                        <h:inputText value="#{admin.iata}"/>
                        Airport Name
                        <h:inputText value="#{admin.airportName}"/>
                        
                        <h:commandButton value="save"
                                         action="#{admin.addAirport()}"/>
                       
                        or build a sample database
                        <h:commandButton value="build"
                                         action="#{admin.buildAirportsSampleDatabase()}"/>
                        
                    </h:panelGrid>
                </h:form>
            </f:view>
            <div style="position: absolute">
                <p style="position: fixed; bottom: 0; width:100%; text-align: left">
                    <h:link value="HOME " outcome="/index.xhtml"/>
                </p>
            </div>
        </div>
    </h:body>
</html>

