<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Index</title>
    </h:head>
    <h:body>
        <div>
            <h1>An On-Line Travel Reservation System by Rustam Drake</h1>


            <h3>Login</h3>
            <f:view>
                <h:form >
                    <ui:fragment rendered="#{loginController.email!=null}">
                        <h3><h:link value="Profile" outcome="profile"/></h3>

                        logout
                        <h:commandButton value="logout" action="#{loginController.logout()}"/>

                    </ui:fragment>
                    <ui:fragment rendered="#{loginController.email==null}">
                        <h:panelGrid columns="2">
                            <h:outputLabel value="Email:"/>
                            <h:inputText  value="#{loginController.email}"  />
                            <h:outputLabel value="Passward:" />
                            <h:inputSecret value="#{loginController.password}" />
                            <h:commandButton action="#{loginController.login()}" value="Login"/>
                        </h:panelGrid>           
                    </ui:fragment>

                </h:form>
            </f:view>
            <h3><h:link value="Register" outcome="register/registerNewAccount.xhtml"/></h3>
            <h3><h:link value="Booking" outcome="booking/booking_home.xhtml"/></h3>
            <div style="position: absolute">
                <p style="position: fixed; bottom: 0; width:100%; text-align: left">
                    <h:link value="Admin " outcome="admin.xhtml"/>
                </p>
            </div>
            #{admin.buildAirportsSampleDatabase()}
            #{admin.buildFlightsSampleDatabase()}


        </div>
    </h:body>
</html>

