<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Profile</title>
    </h:head>
    <h:body>
        <h:form>

        <h:dataTable value="#{profile.getAllResermationForUser(loginController.email)}" var="item" border="1" id="info">
            <h:column>
                <f:facet name="header">
                    <h:outputText  value="Account"/>
                </f:facet>
                <h:outputText value="#{item.email}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Econ. Seats Reserved"/>
                </f:facet>
                <h:outputText value="#{item.economyReserved}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Business Seats Reserved"/>
                </f:facet>
                <h:outputText value="#{item.businessReserved}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Flight Number"/>
                </f:facet>
                <h:outputText value="#{item.flightNumber}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Payed"/>
                </f:facet>
                <h:outputText value="#{item.payed}"/>
            </h:column>

        <h:column>
            <f:facet name="header">
                <h:outputText value="Pay"/>
            </f:facet>
            <h:commandButton value="Pay!!" 
                             action="#{profile.pay(item)}">
            </h:commandButton>
        </h:column>
            <h:column>
            <f:facet name="header">
                <h:outputText value="Cancel your Flight"/>
            </f:facet>
            <h:commandButton value="Cancel" 
                             action="#{profile.cancelFlight(item)}">
            </h:commandButton>
        </h:column>

        </h:dataTable>

        </h:form>
        <h:form>
            <ui:fragment rendered="#{loginController.email!=null}">
                <h:commandButton style="position: fixed; top: 0; right: 0; text-align: right" 
                                 value="Logout" action="#{loginController.logout()}"/>
            </ui:fragment>
            <ui:fragment rendered="#{loginController.email==null}">
                <h:commandButton style="position: fixed; top: 0; right: 0; text-align: right"
                                 value="Login" action="/index.xhtml"/>
            </ui:fragment>
        </h:form>
        <div style="position: absolute">
                <p style="position: fixed; bottom: 0; width:100%; text-align: left">
                    <h:link value="HOME " outcome="/index.xhtml"/>
                </p>
            </div>
    </h:body>
</html>

