<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">    
    <head>
        <title>success</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div>Success full login</div><br/>
        Use the 
        <h:link value="booking page" outcome="/booking/booking_home.xhtml"/>
         link to look up flights and to book them
        <div style="position: absolute">
            <p style="position: fixed; bottom: 0; width:100%; text-align: left">
                <h:link value="HOME " outcome="/index.xhtml"/>
            </p>
            
        </div>
    </body>
</html>
