<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Booking Info page</title>
    </h:head>
    <h:body>
        <div>
            <h2>Booking Info page</h2>
            <h4>Choose your From: and To: airports and the press 'GO!' and see 
                the info for those airports
            </h4>
            <f:view>
                <h:form>
                    <h:panelGrid columns="2">
                        From :
                        <h:selectOneMenu value="#{flightsManagedBean.from}" id="item1">
                            <f:selectItems value="#{flightsManagedBean.allAirports}" 
                                           var="airport1" itemValue="#{airport1.iataCode}" 
                                           itemLabel="#{airport1.airportName} - #{airport1.iataCode}" />
                        </h:selectOneMenu>
                        To :
                        <h:selectOneMenu value="#{flightsManagedBean.to}" id="item2">
                            <f:selectItems value="#{flightsManagedBean.allAirports}" 
                                           var="airport2" itemValue="#{airport2.iataCode}" 
                                           itemLabel="#{airport2.airportName} - #{airport2.iataCode}" />
                        </h:selectOneMenu>
                        Look up :
                        <h:commandButton value="Go!" >
                            <f:ajax execute="@form" event="click" render="flights_information"/>
                            <f:ajax execute="@form" event="click" render="info"/>
                        </h:commandButton>
                    </h:panelGrid>

                    <h:outputText id="flights_information" value="Message: #{flightsManagedBean.messageFromAirportsSelection}"/>

                    <!--table for resulting selection -->
                    <h:dataTable value="#{flightsManagedBean.fromToFlights}" var="item" border="1" id="info">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText  value="From"/>
                            </f:facet>
                            <h:outputText value="#{item.from_Airport}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="To"/>
                            </f:facet>
                            <h:outputText value="#{item.to_Airport}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Departure Date"/>
                            </f:facet>
                            <h:outputText value="#{item.flight_Date}">
                                <f:convertDateTime pattern="dd/MM/yyyy" timeZone="CET"/>
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Departure Time"/>
                            </f:facet>
                            <h:outputText value="#{item.flight_Time}">
                                <f:convertDateTime pattern="HH:mm" timeZone="CET"/>
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Duration"/>
                            </f:facet>
                            <h:outputText value="#{item.flight_Duration}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Flight No."/>
                            </f:facet>
                            <h:outputText value="#{item.flightNumber}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Seats available"/>
                            </f:facet>
                            <h:outputText value="#{item.business + item.economy} "/>
                        </h:column>
                       


                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Select One"/>
                            </f:facet>
                            <h:commandButton value="Book!" action=
                                             "#{flightsManagedBean.goToBookingPage(item)}">
                            </h:commandButton>
                        </h:column>
                    </h:dataTable>
                </h:form>


                <h:form>
                    <ui:fragment rendered="#{loginController.email!=null}">
                        <h:commandButton style="position: fixed; top: 0; right: 0; text-align: right" 
                                         value="Logout" action="#{loginController.logout()}"/>
                    </ui:fragment>
                    <ui:fragment rendered="#{loginController.email==null}">
                        <p style="position: fixed; top: 0; right: 0; text-align: right"> 
                            go back to the <h:link value="home page " outcome="/index.xhtml"/> and login
                        </p>
                    </ui:fragment>
                </h:form>

            </f:view>
            <div style="position: absolute">
                <p style="position: fixed; bottom: 0; width:100%; text-align: left">
                    <h:link value="HOME " outcome="/index.xhtml"/>
                </p>
            </div>
        </div>
    </h:body>
</html>

