<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <h:body>
        <h:form>
            <ui:fragment rendered="#{loginController.email==null}">
                Please login in order to book your flight
            </ui:fragment>
            <ui:fragment rendered="#{loginController.email!=null}">
                You wish to book the flight number #{flightsManagedBean.flightNo}<br/>
                The flight is from #{flightsManagedBean.fromAirportName} to #{flightsManagedBean.toAirportName} 
                on <h:outputText value="#{flightsManagedBean.flightDate}">
                    <f:convertDateTime pattern="dd/MM/yyyy" timeZone="CET"/>
                </h:outputText>
                at <h:outputText value="#{flightsManagedBean.flightTime}">
                    <f:convertDateTime pattern="HH:mm" timeZone="CET"/>
                </h:outputText> <br/>
                Available #{flightsManagedBean.business} business seats available <br/>
                Available #{flightsManagedBean.economy} economy seats available <br/><br/>
                Logged in details as following<br/>
                Full Name: #{account.getAccountNameFull(loginController.email)} <br/>
                Please choose the number of seats and the seat class

                <h:panelGrid columns="2">
                    Business:
                    <h:inputText size="5" value="#{reservation.businessReserved}"/>
                    Economy
                    <h:inputText size="5" value="#{reservation.economyReserved}"/>
                    <h:commandButton  value="Reserve/Pay" 
                                      action="#{reservation.reserve(flightsManagedBean.flightNo, loginController.email)}"/>
                </h:panelGrid>

            </ui:fragment>
        </h:form>



        <h:form>
            <ui:fragment rendered="#{loginController.email!=null}">
                <h:commandButton style="position: fixed; top: 0; right: 0; text-align: right" 
                                 value="Logout" action="#{loginController.logout()}"/>
            </ui:fragment>
            <ui:fragment rendered="#{loginController.email==null}">
                <h:commandButton style="position: fixed; top: 0; right: 0; text-align: right"
                                 value="Login" action="/index.xhtml"/>
            </ui:fragment>
        </h:form>
        <div style="position: absolute">
            <p style="position: fixed; bottom: 0; width:100%; text-align: left">
                <h:link value="HOME " outcome="/index.xhtml"/>
            </p>
        </div>
    </h:body>
</html>
