<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>
        <title>reserve and pay page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <h:body>
        <h:form>
            You have reserve a flight Number #{flightsManagedBean.flightNo} with #{reservation.businessReserved} 
            business seats and #{reservation.economyReserved} economy seats  reserved<br/>

            Current Credit Card details on your profile: <br/>
            Credit Card Number: #{account.getCardNumber(loginController.email)} <br/>
            Credit Card Expiration Date: #{account.getCardExpirationDate(loginController.email)} <br/>

            <h:commandButton value="Pay"
                             action="#{reservation.pay()}"/>

        </h:form>
        <h:form>
            <ui:fragment rendered="#{loginController.email!=null}">
                <h:commandButton style="position: fixed; top: 0; right: 0; text-align: right" 
                                 value="Logout" action="#{loginController.logout()}"/>
            </ui:fragment>
            <ui:fragment rendered="#{loginController.email==null}">
                <h:commandButton style="position: fixed; top: 0; right: 0; text-align: right"
                                 value="Login" action="/index.xhtml"/>
            </ui:fragment>
        </h:form>
        <div style="position: absolute">
            <p style="position: fixed; bottom: 0; width:100%; text-align: left">
                <h:link value="HOME " outcome="/index.xhtml"/>
            </p>
        </div>
    </h:body>
</html>
